In [1]:
# Final Project - Data Sciencie Tools and Techniques

In [ ]:
## Introduction

In this notebook, I will demonstrate the use of basic data science tools and techniques learned throughout the course. I will use Markdown cells to present key concepts, and code cells to perform simple computations in Python. This project reflects foundational knowledge in programming, data manipulation, and presentation of information using JupyterLite.

In [ ]:
## Data Science Languages

Some of the most commonly used programming languages in Data Science are:

- Python
- R
- SQL
- Julia
- Scala

In [ ]:
## Data Science Libraries

Here are some popular libraries used in Data Science:

- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow

SyntaxError: invalid syntax (2717245956.py, line 1)

In [4]:
import pandas as pd

# Crear los datos
data = {
    'Tool Name': ['Jupyter Notebook', 'RStudio', 'Apache Zeppelin'],
    'Description': [
        'Interactive computational environment',
        'IDE for R programming',
        'Web-based notebook for data analysis'
    ]
}

# Crear el DataFrame
df

ModuleNotFoundError: No module named 'pandas'

In [5]:
| Tool Name         | Description                               |
|-------------------|--------------------------------------------|
| Jupyter Notebook  | Interactive computational environment      |
| RStudio           | IDE for R programming                      |
| Apache Zeppelin   | Web-based notebook for data analysis       |

SyntaxError: invalid syntax (872162183.py, line 1)

In [6]:
## Data Science Tools

| Tool           | Description                        |
|----------------|------------------------------------|
| Jupyter Notebook | Interactive coding and analysis     |
| RStudio         | IDE for R language                  |
| VS Code         | Versatile code editor               |
| Apache Spark    | Big Data processing engine          |
| IBM Watson Studio | Cloud-based data science platform |

ModuleNotFoundError: No module named 'pandas'

In [7]:
## Examples of Arithmetic Expressions

Below are examples of arithmetic expressions using Python to perform basic math operations like addition and multiplication.

SyntaxError: invalid syntax (1603353471.py, line 3)

In [8]:
# This expression multiplies 3 by 4 and then adds 5
result = (3 * 4) + 5
result

17

In [9]:
# This will convert 200 minutes into hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [10]:
## Objectives

In this notebook, I aim to:

- Practice using Markdown and code cells in JupyterLite
- List important languages and libraries for Data Science
- Perform basic arithmetic calculations using Python
- Convert time units using Python
- Demonstrate formatting and documentation skills

SyntaxError: invalid syntax (1036715569.py, line 3)

In [11]:
## Author

Brillite Cayllahua

SyntaxError: invalid syntax (510548247.py, line 3)